body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', serif;
}

h2 {
    font-size: 1.6em;
    line-height: 1.7em;
    letter-spacing: .07em;
    text-transform: uppercase;
}

h3 {
    font-size: 1.2em;
    line-height: 1.8em;
    font-weight: 300;
    letter-spacing: .4em;
    text-align: center;
    text-transform: uppercase;
}

p {
    display: flex;
    text-align: justify;
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: .1em;
    line-height: 1.6em;
    padding: 1.5em;
}

li {
    letter-spacing: .1em;
    cursor: pointer;
}
ul li:hover {
    color: #fab54f;
}

.hr {
    display: flex;
    border: 0.5px solid #fab54f;
    width: 3em;
    margin: .7em auto 3em auto;
}

.message {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 2em;
}


/* HEADER */

.bg-img {
    background: linear-gradient( rgba(19, 19, 20, 0.7), rgba(20, 20, 20, .7)), url('https://cdn.pixabay.com/photo/2014/10/26/15/26/board-503944_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}


/* LOGO */

.logo-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo {
    height: 80px;
}


/* SEARCH BAR */

form {
    display: flex;
    flex-direction: column;
    margin: 35px;
}

.search-input-box {
    display: flex;
    width: 215px;
    height: 28px;
    background-color: transparent;
    margin: 30px auto;
    outline: 0;
    border: none;
    border-bottom: 1px solid rgb(177, 177, 177);
    color: rgb(65, 65, 65);
    text-align: center;
    letter-spacing: .09em;
    font-size: 1.05em;
    text-transform: uppercase;
}


/* SEARCH BUTTON */

.fancy-btn {
    display: inline-block;
    position: relative;
    padding: 8px 70px;
    border: 1px solid rgb(121, 118, 116);
    color: rgb(160, 155, 148);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .3em;
    text-decoration: none;
    margin: auto;
    transition: color 0.4s
}

.fancy-btn:after {
    content: " ";
    border: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.4s;
}

.fancy-btn:hover {
    color: rgb(161, 158, 153);
    text-decoration: none;
    cursor: pointer;
}

.fancy-btn:hover:after {
    border: 2px solid rgb(211, 147, 58);
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}

#btn-twtr {
    clear: both;
    color: #fff;
    border: 2px solid;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    width: 13em;
    padding: 20px 25px;
    font-weight: 600;
    margin: 90px auto;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.2);
    opacity: 0.6
}


/* CURRENT BEER */

.current-beer-container {
    display: flex;
    justify-content: center;
}

h2.current-beer {
    display: flex;
    text-align: center;
    margin: 50px 10px;
}


/* INFORMATION SECTIONS */

.flex-props {
    display: flex;
    flex-direction: column;
}


/* FOOD PAIRING SECTION */

.food-pairing-container {
    background: linear-gradient( rgba(19, 19, 20, 0.7), rgba(20, 20, 20, .7)), url('https://www.ties.com/blog/wp-content/uploads/2017/03/tartareandstout.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: rgb(226, 226, 226);
    margin-top: 5em;
    padding-top: 30px;
    padding-bottom: 20px;
}


/* DESCRIPTION SECTION */

.beer-description-container {
    padding-top: 2.5em;
    padding-bottom: 1em;
    color: #333;
}


/* RELATED BEER SECTION */

.related-beer-container {
    background: linear-gradient( rgba(19, 19, 20, 0.7), rgba(20, 20, 20, .7)), url('https://cdn.pixabay.com/photo/2014/10/26/15/26/board-503944_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: .4em;
    padding-top: 30px;
    color: #d4d3d1;
}

h3.related-beer {
    text-align: center;
    margin: auto 10px;
}

.beer-list {
    column-count: 2;
    line-height: 2em;
    list-style: none;
    margin: auto 10px 30px 10px;
}


/* MEDIA SIZES */

@media screen and (min-width: 768px) {
    /* HEADER */
/*     .bg-img {
        background: linear-gradient( rgba(27, 27, 34, 0.7), rgba(51, 50, 58, 0.7)), url('https://thealcotourist.files.wordpress.com/2017/08/img_3185.jpg?w=1060');
    } */
    .search-bar-background {
        background: transparent;
        padding-bottom: 3em;
    }
    /* FOOD PAIRING SECTION */
    .food-pairing-container {
        margin-top: 5em;
        margin-bottom: 3em;
        padding-right: 60px;
        padding-left: 60px;
    }
    /* DESCRIPTION SECTION */
    .beer-description-container {
        display: flex;
        flex-direction: column;
        padding-right: 60px;
        padding-left: 60px;
    }
    /* RELATED BEER SECTION */
    .beer-list {
        column-width: 400px 2;
        column-gap: 30px;
        line-height: 2em;
        list-style: none;
        margin: auto auto 50px auto;
    }
}

@media screen and (min-width: 1024px) {
    .bg-img {
        background-image: none;
    }
    .App {
        background: linear-gradient( rgba(20, 20, 20, 0.795), rgba(20, 20, 20, 0.795)), url('https://www.ties.com/blog/wp-content/uploads/2017/03/tartareandstout.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding-bottom: 1em;
        color: rgb(203, 203, 203);
    }

    /* FOOD PAIRING SECTION */
    .food-pairing-container {
        background-image: none;
        margin-top: 5em;
        margin-bottom: 3em;
        padding-right: 175px;
        padding-left: 175px;
    }
    /* DESCRIPTION SECTION */
    .beer-description-container {
        background-image: none;
        padding-top: 2.5em;
        padding-bottom: 1em;
        color: #e2e2e2;
        padding-right: 175px;
        padding-left: 175px;
    }
    .related-beer-container {
        background-image: none;
    }

}

@media screen and (min-width: 1440px) {
    /* Background */
    .App {
        background: linear-gradient( rgba(20, 20, 20, 0.795), rgba(20, 20, 20, 0.795)), url('https://avlbeerweek.com/wp-content/uploads/2017/05/Cheese-Chocolate-.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding-bottom: 1em;
        color: rgb(203, 203, 203);
    }
    .bg-img {
        background-image: none;
    }
    /* LOGO */
    .logo-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    /* SEARCH BAR */

    .search-bar-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    .search-input-box {
        color: rgb(211, 211, 211);
    }

    .fancy-btn {
        border: 1px solid rgb(216, 216, 215);
        color: rgb(216, 216, 215);
    }



    /* FOOD PAIRING SECTION */
    .food-pairing-container {
        background-image: none;
        margin-top: 5em;
        margin-bottom: 3em;
        padding-right: 400px;
        padding-left: 400px;
    }
    /* DESCRIPTION SECTION */
    .beer-description-container {
        display: flex;
        flex-direction: column;
        padding-right: 400px;
        padding-left: 400px;
    }
    .related-beer-container {
        background-image: none;
    }
}